

<nav class="navbar text-gray-950">
    <ul class=" flex justify-end items-center gap-20 text-lg">
        <li class="">sobre mi</li>
        <li>proyecto</li>.
        <li>especialidad</li>
        <li>contacto</li>
    </ul>
</nav>